@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


:root{
    --background-color: #B2ECE1;
    --light-back-color:#FFEF82;
    --text_color:#333;
    --navbar_text_color:#fff;
    --navbar_color: #FFB100;
    --navbar_color_hover:transparent;
    --second_color:#A3BB98;
    --first_color: #E20A0A;
    --gradient: linear-gradient(#E20A0A, #b47e00);
}

/* Custome Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var( --background-color);
    border-radius: 5rem;
}


.loading-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 99999;
}
  
.loading-icon img {
    width: 350px;
    height: 350px;
    animation: fade-in-out 2s linear infinite;
}
  
@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
  
.loading-bar {
    width: 50%;
    height: 10px;
    background-color: var(--navbar_color);
    border-radius: 10px;
    animation: loading-animation 1.5s linear infinite;
}
  
@keyframes loading-animation {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
}
  
.loading-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #EDAD1A;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--navbar_color);
    padding: 15px 100px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.navbar{
    display: flex;
    padding-left: 70px;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--navbar_text_color);
}
.navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after{
    width: 100%;
}

.search_food input {
    padding: 10px;
    border: 1px solid #ccc;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-left: none;
    cursor: pointer;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
button[type="submit"]:hover {
    background-color: var(--first_color);
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }


/* Home */

.home_container{
    background-image:linear-gradient(rgba(2, 2, 2, 0.5),rgba(0,0,0,0.8)), url('images/foodbackground.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover ;
    background-position: center;
    height: 650px;
    width: 100%;   
    
}

.logo img{
    width:180px;
    height: 70px;
    background-size: auto;
}

.contenthome_container {
    padding-top: 45px;
    text-align: center;
}

.contenthome_container span {
    color: var(--navbar_text_color);
}
.contenthome_container h3{
    font-size: 50px;
    margin-top: 170px;
    margin-bottom: 20px;
    color: var(--first_color);
}
.contenthome_container p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--navbar_text_color);
}

.find_food{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 0px 200px;
}

.find_food_btn a{
    padding: 20px 70px;
    color: var(--navbar_text_color);
    font-weight: 600;
    display: flex;
}

.find_food_btn .find_ulam{
    background-color: var(--navbar_color);
    color: var(--navbar_text_color);
    border-radius: 0.5rem;
    font-weight: 600;
}

.find_food_btn .find_ulam:hover{
    background-color: var(--navbar_text_color);
    color: var(--first_color);
    font-weight: 600;
}

/* More About */

.more_about {
    margin-top: 250px;
    
}
.more_about_container {
    display: flex;
}

.left_moreabout{
    padding: 20px 0px;
    padding-left: 60px;
    padding-right: 20px;
}

.left_moreabout h3{
    font-size: 30px;
    padding-bottom: 30px;
}
.left_moreabout p{
    font-size: 15px;
    text-align: justify;
}

.right_moreabout img{
    width: auto;
    height: 400px;
    padding-left: 90px;
    padding-right: 60px;
}


/* Info */
.info {
    margin: 150px 0px;
    padding: 120px 60px;
    text-align: center;
    background: var(--light-back-color);
}


/* Services About */
.services_about {
    padding: 0px 60px;
    padding-bottom: 120px;
    padding-top: 50px;
}
.services_about_container {
    display: flex;
    text-align: center;
    
}
.services_container{
    margin-left: 20px;
    margin-right: 20px;
    background: var(--text_color) ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 70px;
}
.services_container img{
    width: 100%;
    height: 200px;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.services_container h3{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--navbar_text_color);
}

.services_container p{
    padding-left: 20px;
    padding-right: 20px;
    color: var(--navbar_text_color);
    font-size: 15px;
    text-align: center;
}

.services_container:hover{
    transform: scale(1.1);
    transition: .5s;
}




/* Footer */
.start_footer h4{
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--text_color);
}

.start_footer h5{
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--text_color);
   
}
.footer_info{
    background: var(--background-color);
}
.footer_info p{
    font-size: 15px;
    font-weight: 600;
    color: var(--first_color);
}
.footer_container {
    display: flex;
    padding: 50px 60px;
    justify-content: space-around;
    background: var(--light-back-color);
}

.home_footer {
    display: block;
}
.footer h3{
    color: var(--text_color);
    margin-bottom: 5px;
}

.footer a{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--text_color);
}

.footer a:hover{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--navbar_color);
}

.icons_block {
    display: flex;
    margin-top: 5px;
    
}
.icons_block i{
    font-size: 25px;
    padding-right: 10px;
}

.footer .copyright{
    text-align: center;
    color: var(--text_color);
}

